
.poker-table {
    aspect-ratio: 16 / 9;
    width: 70vw;

    position: relative;
    background-image: url('/global/images/poker-bg.png');
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 900px) {
        width: 95vw;
    }
}

.poker-table > .seats {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;
    overflow: visible;

    background-color: rgba(200, 0, 0, 0.5);
}

.poker-table > .seats > .seat {
    position: absolute;
    width: 16%;
    aspect-ratio: 1;

    background-color: rgba(0, 250, 0, .5);

    &[data-seat-id="1"] { top: -5%; left: 26%; }
    &[data-seat-id="2"] { top: -5%; right: 26%; }
    &[data-seat-id="3"] { top: 16%; right: -3%; }
    &[data-seat-id="4"] { bottom: 16%; right: -3%; }
    &[data-seat-id="5"] { bottom: 16%; left: -3%; }
    &[data-seat-id="6"] { top: 16%; left: -3%; }
}

.card {
    /* card image width x height in px */
    aspect-ratio: 716 / 1002;
}

.poker-table > .table-middle {
    width: 50%;
    height: 30%;
    background-color: rgba(0, 250, 0, .5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.poker-table > .table-middle > .table-cards {
    width: 100%;
    height: 60%;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 5%;

    & > .card {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 250, .5);
    }
}