input {
    background: none;
    border: none;
    outline: none;
}

.poker-table {
    aspect-ratio: 16 / 9;
    width: 70vw;

    position: relative;
    background-image: url('/global/images/poker-bg.png');
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-5vh);

    @media (max-width: 1200px) {
        transform: none;
        width: 95vw;
    }
}

.poker-table > .seats {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;
    overflow: visible;
}


@keyframes show-message {
    from {
        opacity: 0;
        transform: scale(.6) translateX(calc(var(--orientation) * 100%));
    }
}

@keyframes hide-message {
    to {
        opacity: 0;
        transform: scale(.6) translateX(calc(var(--orientation) * 100%));
    }
}

.poker-table > .seats > .seat {
    position: absolute;
    width: 16%;
    aspect-ratio: 1;

    /* background-color: rgba(0, 250, 0, .5); */

    display: flex;
    justify-content: center;
    align-items: center;

    &[data-seat-id="1"] { top: -5%; left: 30%; }
    &[data-seat-id="2"] { top: -5%; right: 30%; }
    &[data-seat-id="3"] { top: 16%; right: -3%; }
    &[data-seat-id="4"] { bottom: 16%; right: -3%; }
    &[data-seat-id="5"] { bottom: 16%; left: -3%; }
    &[data-seat-id="6"] { top: 16%; left: -3%; }

    &.empty > .btn {
        width: 70%;
        --color1: #1bd30a;
        --color2: #25af13;
        --radius: 15px;

        --font-size: max(1.5vw, 20px);
        transform: scale(.7);
    }

    &.left-orientation {
        & > .user > img,
        & > .user > span,
        & > .user > .message {
            transform: translateX(1rem);
        }

        & > .user > .message {
            --orientation: 1;
        }

        & > .user > .player-cards {
            left: -48%;
        }
    }
    &.right-orientation {
        & > .user > img,
        & > .user > span,
        & > .user > .message {
            transform: translateX(-1rem);
        }

        & > .user > .message {
            --orientation: -1;
        }

        & > .user > .player-cards {
            right: -48%;
        }
    }

    & > .user.you > span.name {
        color: #3ad606;
    }

    & > .user {
        width: 100%;
        aspect-ratio: 1;
        user-select: none;

        display: flex;
        justify-content: center;
        align-items: center;

        & > img {
            width: 60%;
            object-fit: cover;
            border-radius: 50%;
            border: .3rem solid #fafafa;

            backdrop-filter: blur(3px) saturate(110%);
            background-color: #fafafa50;
            clip-path: polygon(0 0, 100% 0, 100% 95%, 0 95%);
        }

        & > span.name {
            position: absolute;
            bottom: .4rem;

            font-size: 1.8rem;
            color: #fafafa;
            text-shadow: 0 0 3px rgba(0, 0, 0, .6);
        }

        & > span.coins {
            position: absolute;
            bottom: 20%;
            min-width: 3rem;
            font-size: 1.1rem;
            color: #0d0d0d;
            font-weight: 700;
            background: #fafafa;
            box-shadow: 0 0 6px 1px rgba(0, 0, 0, .3);
            padding: .2rem .5rem;
            border-radius: 5px;
            
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .2rem;

            & > img {
                height: 1.1rem;
            }

            & > span {
                transform: translateY(.1rem);
            }
        }

        & > .player-cards {
            position: absolute;
            display: flex;
            height: 55%;
            gap: 3%;
            bottom: 27%;
        }

        & > .message {
            position: absolute;
            top: 0;
            padding: .5vh 1vw;

            font-size: 1.2rem;
            color: #fafafa;

            border: 2px solid #08b4ff90;
            backdrop-filter: blur(6px) saturate(110%);
            background-color: #fafafa20;
            border-radius: 5px;

            animation: show-message 300ms ease-out;

            &.hide-animation {
                animation: hide-message 300ms ease-out forwards;
            }

            &:not(.show) {
                display: none;
            }
        }
    }
}

.card {
    /* card image width x height in px */
    aspect-ratio: 705 / 986;
    position: relative;

    &[data-hidden="true"] {
        display: none;
    }
    
    & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
}


.poker-table > .table-middle {
    width: 50%;
    height: 30%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > .table-pot {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5rem;
        gap: 0.3rem;

        margin-bottom: .5rem;
        font-size: 1.3rem;
        background: #fafafa;
        padding: 0.3rem 0.5rem;
        border-radius: 5px;
        color: #111;

        & > img {
            height: 1.2rem;
        }
    }

    & > .table-cards {
        width: 100%;
    
        display: grid;
        --gap: 5%;
        grid-template-columns: repeat(5, calc((100% - (var(--gap)*4)) / 5));
        column-gap: var(--gap);
    
        & > .card {
            width: 100%;
        }
    }
}


.user-input {
    position: absolute;
    bottom: 2vh;
    /* background-color: red; */

    background-color: #01142c60;

    border-radius: 10px;
    
    width: 50vw;
    height: 12vh;

    --gap: 1vh;
    display: grid;
    grid-template-columns: repeat(3, calc(20% - var(--gap))) 40%;
    place-items: center;
    padding-inline: var(--gap);
    column-gap: var(--gap);
    box-sizing: border-box;

    @media (max-width: 1200px) {
        width: 100vw;
        bottom: 0;
    }

    & > .btn {
        width: 90%;
    }

    & > .btn[data-input-id="3"] {
        --color1: #c71717;
        --color2: #a00d0d;
    }

    & > div.bet-input {
        width: 100%;
        height: 58px;
        border-radius: 86px;

        --color1: #0095c2;
        --color2: #0a6d8b;
        background-image: linear-gradient(92deg, var(--color1) 0, var(--color2) 100%);
        isolation: isolate;

        display: grid;
        place-items: center;
        grid-template-columns: 20% 80%;
        overflow: visible;
        position: relative;

        background-color: #3ad606;

        & > span {
            color: #fff;
            font-family: sans-serif;
            font-size: 20px;
            font-weight: bold;
        }

        & > input {
            z-index: 1;
            width: 90%;
            height: 100%;
            color: #fafafa;
        }

        &:before {
            border-radius: 86px;
            background-color: var(--color1);
            opacity: .31;
            content: "";
            display: block;
            height: 100%;
            overflow: hidden;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            transform: scale(1.02, 1.12);
            z-index: -1;
        }
    }

}

.user-settings {
    position: absolute;
    top: 2vh;
    right: 2vw;
    display: inline-block;

    & > label {
        font-size: 1.2rem;
        color: #fafafa;
        margin-bottom: .5rem;
    }
}