
@font-face {
    font-family: AltonaSans;
    src: url('fonts/AltonaSans.ttf') format('truetype');
}

body {
    margin: 0;
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
    font-family: AltonaSans;
    position: relative;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #141E30;
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    background: linear-gradient(to right, #243B55, #141E30);
}

@keyframes showNotification {
    from {
        transform: translateY(-20vh);
    }
}

@keyframes hideNotification {
    to {
        filter: blur(20px);
        opacity: 0;
    }
}

.notification-container {
    height: 10vh;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    &.hidden {
        display: none;
    }

    &.success > p {
        background-color: #4CAF5090;
    }

    &.error > p {
        background-color: #F4433690;
    }

    &.info > p {
        background-color: #2196F390;
    }

    & > p {
        color: #fafafa;
        display: block;
        text-align: center;
        width: min(90%, 600px);
        padding-block: 1vh;
        border-radius: 10px;
        font-size: 1.3rem;
        backdrop-filter: blur(10px) saturate(150%);

        animation: showNotification 500ms ease-out;
    }

    &.hideanim {
        animation: hideNotification 200ms ease-in forwards;
    }
}



.btn {
    --color1: #0095c2;
    --color2: #0a6d8b;
    --color: #fafafa;
    --radius: 80px;
    --padding-block: 19px;
    --padding-inline: 26px;
    --min-height: 64px;
    --font-size: 16px;

    box-sizing: border-box;
    color: var(--color);
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: var(--font-size);
    font-weight: 800;
    align-items: center;
    justify-content: center;
    line-height: 24px;
    min-height: var(--min-height);

    padding-block: var(--padding-block);
    padding-inline: var(--padding-inline);

    position: relative;
    text-align: center;
    user-select: none;
    touch-action: manipulation;
    z-index: 0;


    @media (min-width: 768px) {
        padding: 19px 32px;
    }

    &:before,
    &:after {
        border-radius: var(--radius);
    }

    &:before {
        background-color: var(--color1);
        opacity: .31;
        content: "";
        display: block;
        height: 100%;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: -2;
    }

    &:after {
        background-color: initial;
        background-image: linear-gradient(92deg, var(--color1) 0, var(--color2) 100%);
        bottom: 4px;
        content: "";
        display: block;
        left: 4px;
        overflow: hidden;
        position: absolute;
        right: 4px;
        top: 4px;
        transition: all 100ms ease-out;
        z-index: -1;
    }

    &:hover:not(.disabled):after {
        inset: 0;
        transition-timing-function: ease-in;
    }

    &:active:not(.disabled) {
        color: #ccc;
    }

    &:active:not(.disabled):after {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, var(--color1) 0, var(--color2) 100%);
        inset: 4px;
    }

    &.disabled {
        cursor: default;
        opacity: .24;
    }
}